.container-exercicio5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.descricao5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 15px;
}

.enunciado5{
    color: #000;
    font-size: 25px;
    font-family: monospace;
    font-weight: bold;
    background-color: transparent;
}

.botao-exer-5{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.botao-5{
    height: 50px;
    width: 250px;
    border: solid 3px;
    border-radius: 20px;
    font-size: 20px;
    font-family: fantasy;
    cursor: pointer;
}
    .botao-5:hover{
        color: whitesmoke;
        height: 60px;
        width: 300px;
        border: solid 3px;
        border-color: white;
        background-color: rgb(39, 104, 202);
        font-size: 25px;
    }

.resultado5{
    height: 200px;
    width: 700px;
    color: #000;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid 3px;
    border-color: #000;
    border-radius: 20px;
    font-size: 25px;
    font-family: monospace;
    font-weight: bold;
}
    .resultado5:hover{
        height: 230px;
        width: 750px;
        background-color: #2f71c7;
        transition: 0.5s;
        color: whitesmoke;
        font-weight: bolder;
        font-size: 30px;
    }