.container-exer-3-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    gap: 20px;
}

.mensagemUsuario{
    background-color: transparent;
    color: #fff;
}