.container-exer-5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    gap: 20px;
}

.dados-exer-5{
    background-color: transparent;
}