.titulo-container{
    display: flex;
    justify-content: center;
    color: #00ff00;
    background-color: #222;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    font-size: 25px;
}

/* h1{
    font-size: 50px;
} */