/* body{
    background-image: url("./public/dinossauro.png");
    background-repeat: no-repeat;
    background-size: cover;
} */

.sorteio-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.botao-sorteio{
    width: 250px;
    height: 250px;
    background-image: url("./public/dino.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #00ff00;
    border: solid 2px;
    border-radius: 1000px;
    font-size: 25px;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
}
    .botao-sorteio:hover{
        width: 300px;
        height: 300px;
        background-color: darkgreen;
        color: #fff;
        border: solid 3px;
        border-radius: 1000px;
        font-size: 25px;
        font-family: monospace;
        font-weight: bold;
        cursor: pointer;
    }

    .inpt-sorteio{
        width: 200px;
        height: 40px;
        padding-left: 5px;
        border-radius: 10px;
        border: solid 2px;
        border-color: #00ff00;
    }

    .numero-sorteado{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
        font-family: monospace;
        font-weight: bolder;
        color: #00ff00;
        border: solid 3px;
        border-color: #00ff00;
        background-color: transparent;
        border-radius: 10px;
        width: 100px;
    }

    .botoes-sorteio{
        width: 30px;
        height: 30px;
        background-color: darkgreen;
        color: white;
        border-radius: 5px;
        border: solid 2px;
        cursor: pointer;
    }